<!DOCTYPE html>
<html data-ng-app="" data-ng-controller="TaskCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title data-ng-bind-template="{{tasks.length}} ting å gjøre!">Ting å gjøre!</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <script src="/Scripts/angular.js"></script>
    <script src="/app/js/controllers.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">NNUG Angular JS!</a></h1>
        </div>
    </header>
    <div class="container" id="body">
        <h3>Du har {{tasks.length}} ting du skulle ha gjort!</h3>
        <div>
            <label for="query">Søk: </label>
            <input name="query" data-ng-model="query" />
        </div>
        <div>
            <label for="newTask">Ny oppgave:</label><input name="newTask" data-ng-model="newTask" />
            <button class="btn btn-primary" data-ng-click="add()">Legg til</button>
        </div>
        <ul>
            <li data-ng-repeat="task in tasks | filter:query">
                <input type="checkbox" data-ng-model="task.done" />
                <span class="done-{{task.done}}">{{task.name}}</span>
            </li>
        </ul>
    </div>
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
</body>
</html>
