<h3>Du har {{tasks.length}} ting du skulle ha gjort!</h3>
<p>Søk: <input data-ng-model="query"/></p>
<p>Ny oppgave:<input data-ng-model="newTask"/> 
    <button class="btn btn-primary" data-ng-click="add()" >Legg til</button>
</p>
<ul>
    <li data-ng-repeat="task in tasks | filter:query | orderBy:'name'">
        <input type="checkbox" data-ng-model="task.done"
            data-ng-click="finishIt(task)"
            />
        <span class="done-{{task.done}}">{{task.name}}</span>
        <a href="#/tasks/{{task.id}}"><i class="icon-pencil"></i></a>
    </li>
</ul>
